<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Home" icon="ion-home" href="#/page1/page2">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Puppies" icon="ion-heart" href="#/page1/page3">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Other Friends" icon="ion-happy-outline" href="#/page1/page4">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
