<ion-view title="Welcome to PupItUp" id="page2" style="background-color:#B7B7DF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1 id="welcomeToPupItUp-heading1" style="color:#000000;text-align:center;">Hello!</h1>
        <div id="welcomeToPupItUp-markdown1" style="color:#000000;">
            <p>We are here to make your day better. Stressed because of your homework load? Get in a fight with your best friend? Pup your day up!</p>
        </div>
    </ion-content>
</ion-view>