<ion-view title="Welcome to PupItUp" id="page2" style="background-color:#000000;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1 id="welcomeToPupItUp-heading1" class="h1" style="color:#ffffff;text-align: left;">The night is </h1>
        <h2 id="welcomeToPupItUp-heading2" class="h2" style="color:#ffffff;text-align: left;">darkest</h2>
        <h3 id="welcomeToPupItUp-heading3" class="h3" style="color:#ffffff;text-align: left;">just before the dawn... </h3>
        <div id="welcomeToPupItUp-markdown1" style="color:#ffffff; background-image:'shutterstock_153305798.jpg'">
            <p>And I promise you, the dawn is coming</p>
        </div>
        <button class="button button-outline button-light">
          Outlined Button
        </button>
    </ion-content>
</ion-view>
